/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin-top: 40px;
  text-align: center;
}


.gwt-ButtonMyOwn{
	cursor: hand;
}

#LabelGreetingsContainer{
	font-size: 1.25em;
	text-align: center;
	margin-left: 1.2em;
	border-radius: 50%;
}

tr {
	text-align: center;
}

.wrapper {
	background-color: blue;
}
html{
	background-image: url("https://s14-eu5.startpage.com/cgi-bin/serveimage?url=https%3A%2F%2Fd2v9y0dukr6mq2.cloudfront.net%2Fvideo%2Fthumbnail%2FS15GBCm%2Fcolorful-cartoon-nature-background-with-space-for-your-text-or-logo-nice-red-sunset-background-with-some-clouds-sunset-ambient-background-seamless-loop-autumn-background_hfs-knnp__F0000.png&sp=9f6677e9654e4f9d4a1408804c3f1bb5");
}
/** Set ids using widget.getElement().setId("idOfElement") */